@model System.Collections.Generic.IEnumerable<Necessities.Models.ConsigneeModel>

@{
    ViewBag.Title = "Consignees";
}

<h2>Consignees</h2>
<table style="width: 600px">
    <thead>
        <tr>
            <th>Consignee</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <div style="border: 1px solid silver"></div>
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>@m.FirstName&nbsp;@m.LastName</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>@m.AddressOne<br />@m.AddressTwo<br/>@m.City, @m.State&nbsp;&nbsp;@m.PostalCode</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>Phone</td>
                                    <td>@m.PhoneNumber</td>
                                    <td>Email</td>
                                    <td><a href="mailto:@m.Email">@m.Email</a></td>
                                    <td>Percentage</td>
                                    <td>Created</td>
                                    <td>@m.CreationDate.ToShortDateString()</td>
                                    <td>Updated</td>
                                    <td>@m.UpdatedDate.ToShortDateString()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { itemTypeId = m.ConsigneeId })</td>
        </tr>   
    }
</table>
@Html.ActionLink("Add new...", "Create")